## Unpivot = stack + reset_index

**pivot 되었던 데이터프레임을 다시 풀어내는 것**

1. index, columns, values가 세 개의 열로 나란히 풀려남

2. 언피벗의 목적: 다른 방향으로 또 다시 데이터를 가공하기 위함

3. stack 함수 활용
- stack: index와 column의 구조를 바꾸는 함수
- unstack을 하면 index에서 한 줄을 빼내어 columns로 넣어줌
- stack을 하면 column에서 한 줄을 빼내어 index로 넣어줌

- **멀티 인덱스**의 경우, 끝값을 뺴내고 끝값에 더하는 stack의 원리에 따름
- 마지막 인덱스부터 빼내고, 마지막 인덱스 뒤에 붙음
- 만일 0,1,2번 인덱스가 있다면, 2번 > 1번 > 0번 순

In [ ]:
import pandas as pd

val1 = [[20, 10], [5, 25], [22, 8], [12, 18]]
idx1 = [["1반", "1반", "2반", "2반"], ["남", "여","남","여"]]
df1 = pd.DataFrame(val1,index=idx1, columns=["도시락", "샌드위치"])

df1 # 멀티 인덱스

In [ ]:
df2 = df1.copy().stack()
df2

### 일부 열만 언피벗하고 싶은 경우: stack + melt 함수

In [ ]:
import pandas as pd

val = [[83, 93, 99], [77, 88, 91], [92, 78, 95]]
idx = ["권보아", "김범수", "박효신"]
df = pd.DataFrame(val, index=idx, columns=["국어", "수학", "과학"])
val1 = [[20, 10], [5, 25], [22, 8], [12, 18]]
idx1 = [["1반", "1반", "2반", "2반"], ["남", "여","남","여"]]
df1 = pd.DataFrame(val1,index=idx1, columns=["도시락", "샌드위치"])
df2 = df1.copy().unstack()
df3 = df1.copy()
df3["업체"] = ["CJ푸드", "신세계", "신세계", "CJ푸드"]
df4 = df3.reset_index().rename(columns={"level_0":"반", "level_1":"성별"}).copy()

In [ ]:
df

### df.stack(level=숫자, dropna=bool) 활용법

1. stack() 실행
2. reset_index() 실행
3. df.columns 지정

In [ ]:
df.stack() # columns를 빼내서 index로 넣어줌. 
df = df.stack().reset_index() # reset_index로 언피벗 완료 후, df에 넣어줌.
df.columns = ["이름", "과목", "점수"] # df의 columns 이름을 지정
df

In [ ]:
df1

In [ ]:
df1 = df1.stack().reset_index()

In [ ]:
df1.columns = ["반", "성별", "제품", "수량"]

In [ ]:
df1

In [ ]:
df2

In [ ]:
df2 = df2.stack(level=[0,1]).reset_index() # columns index 0과 1 모두를 stack 후, reset_index

df2.columns = ["반", "제품", "성별", "수량"]

In [ ]:
df2

In [ ]:
df3 = df3.set_index("업체", append=True).reset_index()
# 업체 column을 먼저 index로 옮겨준 다음, reset_index()

df3.columns = ["반","성별","업체","제품","수량"]

In [ ]:
df3

### stack으로 언피벗하기 총정리

1. set_index로 언피벗에서 제외할 열은 인덱스에 넣어준다
2. stack으로 언피벗된 시리즈를 만들고, 뒤이어 .reset_index로 언피벗된 데이터프레임을 만든다

3. df.columns(권장) 혹은 rename으로 column들의 이름을 바꾼다

In [ ]:
val = [[83, 93, 99], [77, 88, 91], [92, 78, 95]]
idx = ["권보아", "김범수", "박효신"]
df = pd.DataFrame(val, index=idx, columns=["국어", "수학", "과학"])
val1 = [[20, 10], [5, 25], [22, 8], [12, 18]]
idx1 = [["1반", "1반", "2반", "2반"], ["남", "여","남","여"]]
df1 = pd.DataFrame(val1,index=idx1, columns=["도시락", "샌드위치"])
df2 = df1.copy().unstack()
df3 = df1.copy()
df3["업체"] = ["CJ푸드", "신세계", "신세계", "CJ푸드"]
df4 = df3.reset_index().rename(columns={"level_0":"반", "level_1":"성별"}).copy()

### melt 함수: 언피벗에서 제외할 열 지정 가능

1. id_vars: 해당 열을 인덱스로 삼아 언피벗

2. value_vars: 해당 열을 value로 삼아 언피벗

3. df.melt(id_vars = [열1, 열2,...], var_name = 이름, value_name = 이름)

In [ ]:
df3

In [ ]:
df4.melt(id_vars=["반","성별","업체"], var_name = "제품", value_name = "수량")