## duplicated: 중복값 처리

##### df1.duplicated([열1, 열2, 열3...], keep="first" or "last" or False
- 중복되는 값은 True, 나머지는 False로 처리
- drop_duplicates(): 중복되는 값 중 하나만 남기고 나머지는 제거
- 중복을 탐색할 일부 column을 지정해줄 수도 있음
- keep 인자
1. "first": 디폴트, 첫값만 남김
2. "last": 중복값 중 마지막값만 남김
3. False: 중복값이 존재하면 하나도 남기지 않고 모두 drop

In [ ]:
import pandas as pd

a1 = [1, "송준기", 680]
b1 = [1, "권보아", 880]
c1 = [2, "김나현", 620]
d1 = [2, "송준기", 750]
e1 = [3, "김나현", 750]
f1 = [3, "박효신", 920]
g1 = [3, "진달래", 850]
df1 = pd.DataFrame([a1, a1, b1, c1, d1, e1, f1, g1], columns=["회차", "이름", "점수"])

### duplicated() 활용법

1. 중복값 존재여부 체크

2. 중복값을 처음값만 두고 삭제

3. 중복값을 마지막 값만 두고 삭제

4. 중복값 모두 삭제

In [ ]:
df1

In [ ]:
df1.duplicated() # [1, 송준기, 680] 처럼 모든 값이 일치하는 행만 중복으로 판단

In [ ]:
df1.drop_duplicates() # 모든 값이 일치하는 행 중 첫 번째 행 출력

In [ ]:
df1.drop_duplicates("이름") # 이름만 중복 체크 후 중복값 중 첫번째 값 출력

In [ ]:
df1.drop_duplicates("이름", keep="last") # 이름을 기준으로 판단한 중복값 중 가장 마지막 값 출력

In [ ]:
df1.drop_duplicates("이름", keep=False) # 중복값이 있는 경우는 하나도 남김없이 제거